version: '3.8'

services:
  bot:
    build: .
    container_name: bill_separator_bot
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./bot/log.txt:/app/bot/log.txt
    environment:
      - TZ=Europe/Moscow